<header class="main_header">
    <nav class="main_header__nav">
        <ul class="main_header_itemlist">
            <li><a  class="<%= path === '/home' ? 'active' : '' %>" href="/">Journal</a></li>
            <li><a class="<%= path === '/add-journal' ? 'active' : '' %>" href="/add-journal">Add-Journal</a></li>
        </ul>
    </nav>
</header>   
