<header class="main_header">
    <nav class="main_header__nav">
        <ul class="main_header_itemlist">
            <li><a href="/">Journal</a></li>
            <li><a href="/add-journal">Add-Journal</a></li>
        </ul>
    </nav>
</header>   
