<%-include('includes/head.ejs')%>
<link rel="stylesheet" href="/css/add_journal.css" />
<link rel="stylesheet" href="/css/form.css" />
</head>
<body>
    <%-include('includes/navigation.ejs') %>
    <main class="main__">
       <div class="main__div">
         <form class="add_journal" method="POST" action="/add-journal">
            <div>
                <input class="title" name="title" type="text" placeholder="title" />
                <br/>
                <textarea class="description" name="description" placeholder="Type something...."></textarea>
            </div>
            <button class="btn" type="submit"> Add journal</button>
        </form>
       </div>
    </main>
</body>