<%-include('includes/head.ejs') %>
</head>
<body>
    <%-include('includes/navigation.ejs') %>
    <main class="main">
        <% if(journ.length > 0) {%>
        <div class="grid">
            <% for(let journal of journ) {%>
            <article class="card">
                <div class="card_header">
                    <h3 class="card_title"><%=journal.title.length <= 35 ? journal.title : journal.title.slice(0,32) + "..."  %></h3>
                </div>
                <div class="image">
                    <img class="card__image" src="/images/pexels-miguel-á-padriñán-3882516.jpg" alt="A dark and gold image" />
                </div>
                <div class="description">
                    <p> <%=journal.desc %> </p>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
            <h1 class="for_empty_card">This place looks empty</h1>
        <% } %> 
    </main>
</body>
</html>