.main_header{
    background-color: #BAD7E9;
    height: 90px;
    width: 80%;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 3%;
}

.main_header_nav, ul{
   margin-left: 4%;
   padding-top: 2.5%;
}

.main_header_nav, ul > li{
    text-decoration: none;
    display: inline-block;
    padding-right: 5%
}

.main_header_nav, ul > li > a{
    text-decoration: none;
    color: black;
    padding: 5px 20px 5px 20px;
    font-size: 2em;
    font-family: 'Barlow', sans-serif;
    border: thin solid #2B3467;
    border-radius: 3px;
    transition: all 0.4s 0.3s ease-in-out;
}

.main_header_nav, ul > li > a:hover{
    background: #2B3467;
    color: white;
   
}