*{
   margin: 0;
   padding: 0;
}
body{
   background: rgb(235,69,95);
   background: linear-gradient(90deg, rgba(235,69,95,1) 3%, rgba(43,52,103,1) 100%);
 }
 .main{
   width: 80%;
   margin: 0 auto;
   margin-top:3%;
 }
 .grid{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 5px;
   /* border: 1px solid red; */
   height:100vh;
 }
.card{
   height: 40vh;
   width: 80%;
   /* border:1px solid grey; */
   border-radius: 2px;
   background: #FCFFE7;
   border-radius: 3px;
   color: rgba(0, 0, 0, 0.7);
}
.card_header{
   width:100%;
}
.card_header > .card_title{
   padding: 3% 5%;

}
.card > .description{
   padding: 3% 5%;
   height:10vh;
   /* border: 1px solid red; */
   width: 90%;
   margin: 0 auto;
}
.image > .card__image{
   height:200px;
   width:100%;
}
